.body {
    text-align: center;
    font-family: "Arial Black";
    font-size: 32pt;
}
.text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
